/* .list{
    text-align: left;
    width: 100%;
    background: #200122;
    background: -webkit-linear-gradient(to top, #f7f9fa, #6d6f75);
    background: linear-gradient(to top,#f7f9fa, #6d6f75);
} */

.movieTitle{
    font-weight: bolder;
    /* margin-bottom: 80px; */
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: seashell;
}



.restaurantlist{
    border: 25 px darkblue;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-flex;
}

.rest-list1{
    padding: 10px;
}

.rest-list2{
    padding: 10px;
}

.input-field{
    width: 840px;
    align-items: center;
    height: 40px;
    align-content: center;
    align-self: center;
    margin-left: 240px;
    border: 2px solid black;
    margin-top: 20px;
    color: rgb(12, 54, 54);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}